.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  padding: 0 24px;
  padding-top: 32px;

  .navigate-mobile {
    .navbar-menu {
      position: absolute;
      text-align: center;
      background: var(--White);
      right: 24px;
      left: 23px;
      transform: translateY(50px);
      padding-top: 39px;
      padding-bottom: 7px;
      z-index: 99;

      .nav-list {
        margin-bottom: 32px;
      
        .nav-item {
          .nav-link {
            color: var(--Dark-grayish-blue);
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: -0.14px;
          }
        }
      }
      .nav-list:last-child {
        margin-top: 48px;

        .nav-link {
          width: 140px;
          padding: 16px 30px;
          background: var(--Yellow);
          border-radius: 28px;
          color: var(--Very-dark-desaturated-blue);

          font-family: $font-stack-heading;
          font-weight: 700;
          font-size: 0.93rem;
          line-height: 25px;
          letter-spacing: -0.1px;
        }
      }
    }
    .navbar-menu::before {
      content: "";
      position: absolute;
      top: -24px;
      right: 0px;
      border-width: 12px;
      border-style: solid;
      border-color: transparent var(--White) var(--White) transparent;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    .logo {
      width: 170px;
    }
    
    .navigate-desktop {
      .navbar-menu {
        display: flex;

        .nav-list {
          margin-right: 47px;

          .nav-item {
            .nav-link {
              color: var(--White);
            }
          }
        }
        
        .nav-list:last-child {
          .nav-item {
            position: relative;

            .nav-link {
              padding: 16px 30px;
              border-radius: 28px;
              color: var(--Very-dark-desaturated-blue);
              background: var(--White);

              font-family: $font-stack-heading;
              font-weight: 700;
              font-size: 0.93rem;
              line-height: 25px;
              letter-spacing: -0.1px;

              transition: 0.6s ease;
            }
          }
        }
        .nav-list:last-child:hover {
          .nav-item {
            .nav-link {
              color: var(--White);
              background: none;
            }
            
            .nav-link::after {
              position: absolute;
              top: -60%;
              left: 0;
              content: '';
              width: 140px;
              height: 55px;
              border-radius: 28px;
              background: var(--White);
              opacity: 0.25;
            }
          }
        }
      }
    }
  }
}